# Environment variables
.env

# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*egg-info/
dist/
build/

# Streamlit
.streamlit/

# Other common ignores
*.DS_Store

logs/


saved_prompts/

